.navbar{
  background-color: brown;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  align-items: center;
}

.footer{
  background-color: blue;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content{
  height: 80vh;
}
